html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    background-image: url(potc.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center top;
}
body {
    width: 75%;
    padding: 20px;
    color: black;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(227,209,161,0.4);
    background-image: -moz-radial-gradient(50% 50%, circle cover, #eeeeee, rgba(227,209,161,0.2) 100%);
    background-image: -webkit-radial-gradient(50% 50%, circle cover, #eeeeee, rgba(227,209,161,0.2) 100%);
    background-image: -o-radial-gradient(50% 50%, circle cover, #eeeeee, rgba(227,209,161,0.2) 100%);
    background-image: -ms-radial-gradient(50% 50%, circle cover, #eeeeee, rgba(227,209,161,0.2) 100%);
    background-image: radial-gradient(50% 50%, circle cover, #eeeeee, rgba(227,209,161,0.2) 100%);
    -moz-box-shadow: 0px 0px 100px #9D8851;
    -webkit-box-shadow: 0px 0px 100px #9D8851;
    box-shadow: 0px 0px 100px #9D8851;
}
header, footer, nav {
    font-family: 'Rock Salt', cursive;
}
header {
    text-align: center;
    font-size: 2em;
    padding-bottom: 0.4em;
    margin-bottom: 0.7em;
    border-bottom: 2px solid black;
}
h3, h4 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
footer {
    margin-top: 50px;
    border-top: 2px dotted black;
    padding-top: 1em;
}
a {
    color: inherit;
    text-decoration: inherit;
}
nav {
    font-size: 1.4em;
    padding-bottom: 1.5em;
}
nav li {
    display: block;
    float: left;
    margin-right: 1em;
    padding-bottom: 0.5em;
    border-bottom: 2px dotted black;
}
input {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
form>ul>li {
    margin-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 2px dotted black;
}
blockquote {
    text-align: center;
    text-transform: uppercase;
}
ol>li {
    list-style: decimal inside none;
}
.content a {
    text-decoration: underline;
}
.content>ul>li {
    margin-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 2px dotted black;
}
.content form {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
p {
    margin-top: 1em;
}
.social {
    clear: both;
    margin-top: 1em;
    margin-bottom: 1em;
}
.fb_iframe_widget, .twitter-share-button {
    float: left;
}
.content {
    clear: both;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 1.5em;
    font-weight: bold;
    min-height: 600px;
}
.helptext {
    font-size: 0.7em;
    color: #222;
}
.errorlist, .error {
    color: red;
}
.error {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
